---
title: О компании
---

div class="about-wrap"
	div class="container"
		div class="row"
			div class="col-xs-12"
				div class="about-content"
					h2 class="text-center" Компания ООО ПКФ "Восток-Сервис"
					img src="img/about.jpg"
					p
						br
						| Фирма
						span class="violet upper"
							|  ООО ПКФ "Восток-Сервис"
						|  существует с 1990 года. Выпускает антиадгезионную бумагу и лавсановую пленку, предназначенные для защиты клеевых составов любых самоклеющихся материалов, а также для упаковки липких материалов (клеев, каучуков, мастик, герметиков и т.п.) Предприятие предлагает большой выбор запатентованных оригинальных водоразбавлямых материалов. Большое внимание уделяется контролю за качеством выпускаемой продукции. Предприятие сертифицировано по ISO-9001.
					p
						|Фирма ООО ПКФ "Восток-Сервис" - 'то комплексное решение проблемы упаковки пастообразных, твердых и жидких твердеющих легких материалов (мастик, битумов, герметиков, клеев и т.д.) с помощью специальной бумажной тары собственного производства с внутренним антиадгезионным (селиконизированным) слоем.
					p
						|Продукция компании находит применение во многих отрослях народного хозяйства: строительстве, автомобилестроении, пищевой и медицинской промышленности, в полиграфии и рекламе.
