---
title: Силик. бумага
---

div class="film-wrap"
	div class="container"
		div class="row"
			div class="col-xs-12"
				h4 class="upper"
					strong Лавсановая пленка
				p
					| Фирма ООО ПКФ &laquo;Восток-Сервис&raquo; выпускает антиадгезионную силиконизированную бумагу и&nbsp;лавсановую пленку, предназначенных для защиты клеевых составов любых самоклеящихся материалов, а&nbsp;также для упаковки липких материалов (клеев, каучуков, мастик, герметиков и&nbsp;т.п.).
				br
					i
						| Антиадгезионная бумага может быть использована также в качестве прокладочного материала при выпечке хлебобулочных изделий и упаковки пищевых продуктов.
				br
					| Антиадгезионные бумага и&nbsp;пленка производятся на&nbsp;нашем предприятии в&nbsp;соответствии с&nbsp;ТУ&nbsp;5459 &minus;015-12963867-2012 (взамен ТУ&nbsp;5433-005-12963867&nbsp;с изм. &#8470;&nbsp;5) (бумага) и&nbsp;ТУ&nbsp;2255-012-12963867-2003 (пленка) путем нанесения с&nbsp;одной или двух сторон силиконовой композиции на&nbsp;специальную бумагу-основу и&nbsp;полиэтилентерефталатную (ПЭТ) пленку. Бумага с&nbsp;двухсторонним покрытием может изгатавливаться с&nbsp;разной разделительной силой по&nbsp;сторонам.
				br
					| Бумага&nbsp;&mdash; основа толщиной от&nbsp;0,045 до&nbsp;0,15&nbsp;мм и&nbsp;плотностью 60...120&nbsp;г/м2 изготавливается по&nbsp;уникальной технологии, обеспечивающей повышенную прочность полотна. Ширина бумажного полотна до&nbsp;1520&nbsp;мм с&nbsp;массой рулона до&nbsp;300&nbsp;кг. ПЭТ пленка толщиной от&nbsp;0,025 0,035&nbsp;мм. Ширина полотна до&nbsp;1100&nbsp;мм с&nbsp;массой рулона до&nbsp;100&nbsp;кг.
				br
					| Эксплуатация бумаги возможна в&nbsp;интервале температур от&nbsp;&mdash; 40&nbsp;до&nbsp;+50&nbsp;&deg;С, пленки&nbsp;&mdash; от- 50&nbsp;до + 50&deg;С.
				br
					|Бумага выдерживает нагрев до&nbsp;+250 &deg;С&nbsp;в&nbsp;течение 30&nbsp;минут и&nbsp;до&nbsp;180 &deg;С&nbsp;в&nbsp;течение 2&nbsp;часов.
				br
					| Пленка выдерживает нагрев до&nbsp;+150&deg;С в&nbsp;течение 30&nbsp;минут и&nbsp;до&nbsp;135 &deg;С&nbsp;в&nbsp;течение 2&nbsp;часов.
				br
					| Разрушающее усилие бумаги БА-1-95П в&nbsp;машинном направлении не&nbsp;менее 127Н (13&nbsp;кгс.) 
				br
					| Относительное удлинение не&nbsp;менее 1,8% Прочность при разрыве пленки ПМА-1-25&nbsp;на разрывной машине составляет не&nbsp;менее 157МПа (16,0&nbsp;кг/см2). Относительное удлинение при разрыве не&nbsp;менее 70%.
				br
					| Внешний вид: бумага и&nbsp;пленка со&nbsp;стороны нанесения силиконовой композиции имеют ровную однородную по&nbsp;всей ширине блестящую поверхность. Бумага и&nbsp;пленка легко отслаиваются от&nbsp;поверхности клеевого состава.
				br
					strong Бумага и пленка нетоксичны, невзрывоопасны, покрытие имеет свойство препятствовать возгоранию.
					br
					strong Имеются экспертные заключения.
				br
				i
					| В таблице приведены типовые марки продукции, серийно выпускаемые на нашем предприятии
				table class="table table-bordered"
					thead
						tr
							th № п\п
							th Наименование продукции
							th Основные форматы, мм
							th Вес 1 кв.м в граммах
							th Толщина, мкм
					tbody
						tr
							td 1
							td БА-1-60Т
							td до 1025
							td 60
							td 54
						tr
							td 2
							td БА-2-60Т
							td до 1025
							td 60
							td 54
						tr
							td 3
							td БА-1-70 КБ
							td до 960
							td 66...74
							td 65...73
						tr
							td 4
							td БА-1-70 КБ
							td до 960
							td 66...74
							td 65...73
						tr
							td 5
							td БА-1-70
							td до 1020
							td 68...72
							td 85...95
						tr
							td 6
							td БА-1-78
							td до 1030
							td 76...78
							td 95...105
						tr
							td 7
							td БА-1-95П
							td 640, 750, 790, 900, 1000, 1260, 1520
							td 92...96
							td 113...127
						tr
							td 8
							td БА-2-95П
							td 640, 750, 790, 900, 1000, 1260, 1520
							td 92...96
							td 113...127
						tr
							td 9
							td Пленка ПМА-1-35
							td до 1100
							td 50...54
							td 33...36
						tr
							td 10
							td Пленка ПМА-1-25
							td до 1100
							td 39...42
							td 24...26
						tr
							td 11
							td Пленка ПМА-2-35
							td до 1100
							td 50...54
							td 33...36
						tr
							td 12
							td Пленка ПМА-2-25
							td до 1100
							td 39...42
							td 24...36
				p
					strong Образцы нашей продукции (формат А-4) высылаются бесплатно
				p
					| Объем заказа на&nbsp;стандартные форматы&nbsp;&mdash; от&nbsp;100&nbsp;м 2.
				br
					| Продольная резка рулонов по&nbsp;заказам от&nbsp;28&nbsp;до&nbsp;1200&nbsp;мм.
				br
					| Возможна нарезка на&nbsp;листы.
				br
					| Возможно нанесение цветных силиконовых составов на&nbsp;любой тип нашей бумаги.
				br
					| Возможно изготовление бумаги с&nbsp;двухсторонним покрытием с&nbsp;различным усилием отслаивания по&nbsp;каждой стороне. Удельное усилие отслаивания от&nbsp;клеевого слоя определяется по&nbsp;Международной системе Finat &minus;10 (Контрольная лента Tesa 4651) и&nbsp;по&nbsp;желанию заказчика покрытие может быть выполнено с&nbsp;указанным показателем в&nbsp;пределах от&nbsp;4&nbsp;до&nbsp;20&nbsp;Н/м.
				br
				i
					| Цена на бумагу и пленку установлена в рублях за один квадратный метр и зависит от следующих параметров:
				ol
					li Назначение (область применения)
					li Вес одного квадратного метра в граммах
					li Формат (ширина в миллиметрах рулона или размер листов)
					li Диаметр рулона (в миллиметрах) или длина рулона (в метрах погонных)
					li Разрывная прочность (в Ньютонах)
					li Объем заказа
					li Условия поставки и оплаты
				p
					| Для получения технической консультации по вопросам применения антиадгезионных материалов (бумага, пленка ), а также ценах на данную продукцию, просим обращаться по телефонам:
					strong (843) 557-43-29 , 557-43-69 , 555-08-12 (Лукоянов Андрей Михайлович, Четвериков Владимир Николаевич).
				br
					| Образцы данной продукции, а также готовый заказ можно получить на наших складах: в Казани, Москве. По договоренности, возможна доставка нашим транспортом в адрес заказчика.