---
title: Главная
---

div class="main-wrap"
	div class="container"
		div class="row"
			div class="col-xs-12"
				div class="products-media"
					div class="products-item clearfix"
						h4 class="upper"
							a href="paper.html"
								| Антиадгезионная силиконизированная бумага
						img class="pull-right" src="img/paper.jpg" alt="..."
						p
							|  Антиадгезионные бумага и&nbsp;пленка производятся на&nbsp;нашем предприятии в&nbsp;соответствии с&nbsp;ТУ&nbsp;5459&nbsp;&minus;015-12963867-2012.
							br
							| Бумага с&nbsp;двухсторонним покрытием может изготавливаться с&nbsp;разной разделительной силой по&nbsp;сторонам.
							br
							| Основа толщиной от&nbsp;0,045 до&nbsp;0,15&nbsp;мм и&nbsp;плотностью 60...120&nbsp;г/м
							sup
								small 2
							|  изготавливается по&nbsp;уникальной технологии, обеспечивающей повышенную прочность полотна.
							br
							| Ширина бумажного полотна до&nbsp;1520&nbsp;мм с&nbsp;массой рулона до&nbsp;300&nbsp;кг.
							br
							| Ширина полотна до&nbsp;1100&nbsp;мм с&nbsp;массой рулона до&nbsp;100&nbsp;кг.
						a href="paper.html" Подробнее...
					div class="products-item clearfix"
						h4 class="upper"
							a href="sacks.html"
								| Бумажный мешок с антиадгезионным покрытием
						img class="pull-right" src="img/sacks.jpg" alt="..."
						p
							| Основные типоразмеры мешков :
						ol
							li Ширина 495&nbsp;мм для плоских мешков и&nbsp;420&nbsp;мм для фальцованных мешков.
							li Высота для всех типов мешков 560,756,805 или 950&nbsp;мм.
						p
							| Пример условного обозначения серийно выпускаемой продукции марки МБ:
						ol
							li
								| МБ&nbsp;3.950*420*80&nbsp;&mdash; мешок бумажный трехслойный фальцованный высотой 950&nbsp;мм, сечением 420&nbsp;мм на&nbsp;80&nbsp;мм.
							li
								| МБ&nbsp;4.805*495-мешок бумажный четырехслойный плоский высотой 805&nbsp;мм и&nbsp;шириной 495&nbsp;мм.
						p
							| С&nbsp;помощью мешков серии МБАС предлагаем Вам комплексное решение проблемы упаковки пастообразных, твердых и&nbsp;жидких твердеющих липких материалов (мастик, битумов, герметиков, клеев и&nbsp;т.д)
						a href="sacks.html" Подробнее...
					div class="products-item clearfix"
						h4 class="upper"
							a href="film.html"
									|Лавсановая пленка
						img class="pull-right" src="img/astrolon.jpg" alt="..."
						p
							| Плёнка полиэтилентерефталатная (ПЭТФ). Прочность на&nbsp;растяжение в&nbsp;2,5 раза выше, чем у&nbsp;плёнок из&nbsp;ацетатацеллюлозы, в&nbsp;10&nbsp;раз полиэтилена и&nbsp;в&nbsp;12&nbsp;раз политетрафторэтилена. Прочнее алюминиевой фольги равной толщины. В&nbsp;нормальных условиях хранения механические свойства плёнки не&nbsp;изменяются в&nbsp;течение многих лет.
							br
							br
							| Высокая равнотолщинность, прочность, незначительная усадка при повышенных температурах и&nbsp;негорючесть обеспечили широкое применение как основы для лент магнитной записи и&nbsp;кинофотопленок.
							br
							br
							| Применяют в&nbsp;качестве теплостойкой изоляции обмоток трансформаторов, двигателей и&nbsp;других электрических машин, а&nbsp;также кабельной изоляции. Кабели с&nbsp;изоляцией из&nbsp;ПЭТФ значительно легче, чем изолированные другими полимерными материалами, устойчивы при эксплуатации в&nbsp;морской воде, почве и&nbsp;атмосфере.
						a href="film.html" Подробнее...
				div class="clients"
					h3 Наши клиенты:
					a href="#"
						img src="img/logo_technonikol.jpg" alt="..."
					a href="#"
						img src="img/krovlya.png" alt="..."
					a href="#"
						img src="img/krz.jpg" alt="..." title="ЗАО &laquo;МПК &laquo;КРЗ&raquo;"
					a href="#"
						img src="img/tara.jpg" alt="..."
					a href="#"
						img src="img/logo_rizolin.png" alt="..."
					a href="#"
						img class="lukoil" src="img/lukoil_logo.svg" alt="..."
					
