---
title: Производство
---

div class="production-wrap"
	div class="container"
		div class="row"
			div class="col-xs-12"
				h2 class="text-center" Наше производство
				div class="row"
					div class="col-xs-12 col-md-10 col-md-offset-1"
						div class="slider-place"
							a class="arrow-left" href="#"
							a class="arrow-right" href="#"
							div class="swiper-container"
								div class="swiper-wrapper"
									div class="swiper-slide"
										img src="img/make.jpg"
									div class="swiper-slide"
										img src="img/stanok.jpg"
									div class="swiper-slide"
										img src="img/stanok-2.jpg"
				div class="making-item"
					h3 Производство силиконизированной бумаги и бумажных мешков.
					p
						| Опыт в&nbsp;производстве силиконизирванной бумаги компании &laquo;Восток&nbsp;&mdash; Сервис&raquo; насчитывает уже более 20&nbsp;лет. За&nbsp;это время нам удалось наладить работу производства и&nbsp;стабильное качество, испробовать различные подходы к&nbsp;производству, попробовать различные составы и&nbsp;основы для силиконизации. На&nbsp;данном этапе мы&nbsp;можем предложить упаковочное решение именно для вашего бизнеса с&nbsp;учетом его нюансов и&nbsp;особенностей.
						br
						br
						| Практически, мы&nbsp;можем подобрать и&nbsp;поставить нашим заказчикам любую силиконизированную бумагу, ориентированную на&nbsp;конкретную специфику работы потребителя. При этом особое внимание уделяется вопросам качества при внедрении бумаги на&nbsp;новом предприятии с&nbsp;целью ее&nbsp;последующей успешной эксплуатации.
						br
						br
						| Используя новейшие промышленные технологии, мы&nbsp;представляем своим клиентам высокую производительность и&nbsp;гибкость работы, чем достигаются конкурентные преимущества на&nbsp;рынке производителей силиконизированной продукции.