---
title: Бумажный мешок
---

div class="sacks-wrap"
	div class="container"
		div class="row"
			div class="col-xs-12"
				h4 class="upper"
					strong БУМАЖНЫЙ МЕШОК С АНТИАДГЕЗИОННЫМ ПОКРЫТИЕМ
				p
					| Предлагаем мешки бумажные открытые двух ,трех или четырехслойные плоские (с одним боковым сгибом) или фальцованные ( с тройным боковым сгибом),с прошитым и укрепленным герметичным днищем ,с поперечной межслойной проклейкой, с двухцветной печатью. ТУ 5472-011-12963867-2002
				i Основные типоразмеры мешков :
				ol
					li Ширина 495 мм для плоских мешков и 420 мм для фальцованных мешков.
					li Высота для всех типов мешков 560,756,805 или 950 мм.
				i Пример условного обозначения серийно выпускаемой продукции марки МБ:
				ol
					li МБ 3.950*420*80 – мешок бумажный трехслойный фальцованный высотой 950 мм, сечением 420 мм на 80 мм.
					li МБ 4.805*495-мешок бумажный четырехслойный плоский высотой 805 мм и шириной 495 мм. С помощью мешков серии МБАС предлагаем Вам комплексное решение проблемы упаковки пастообразных, твердых и жидких твердеющих липких материалов (мастик, битумов, герметиков, клеев и т.д)
				i Пример условного обозначения серийно выпускаемой продукции марки МБАС:
				ul
					li Мешок МБАС 4. 950*420*80 УД – мешок бумажный с внутренним антиадгезионным слоем ,обладающим высокой прочностью и непроницаемостью для расплавленных битумно-полимерных мастик с температурой затаривания до 200 град.С., фальцованный ,днище прошито трехниточным швом с крепированной лентой и прокладочной нитью ,проклеено снаружи вторым слоем крепированной ленты высотой 950 мм, сечением 420 мм на 80 мм.
					li Мешки серии МБАС при высоте 950 мм/805 мм/756 мм/560 мм вмещают соответственно 40/34/31/23 кг липкого продукта и обеспечивает 100 % отделение продукта при растаривании. Мешок МБАС 4.247*247 мм высотой 400 или 600 мм с квадратным формованным днищем вмещает 23 или 31 кг липкого продукта. Мешки серии МБЛ выпускаются с одним из слоев мешочной бумаги, ламинированной полиэтиленом.
